#root {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.container {
  width: 100%;
  /* height: 100vh; */
  background-color: rgb(13, 10, 44);
  box-sizing: border-box;
  min-height: 100vh;
}
